.realPageContainer{
  display: flex;
  
}
.rightPageContainer{
  width: 84%;
  margin-left: 1%;
}
@media screen and (max-width:1024px) {
  .realPageContainer{
      width: 95%;
      margin:auto;
      
  }
  .donw{
   
    width: 100%;
  }
}
